<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DisplayEmployees</servlet-name>
  	<display-name>DisplayEmployees</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisplayEmployees</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<display-name>EmployeeLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRegistrationSuccessServlet</servlet-name>
  	<display-name>EmployeeRegistrationSuccessServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeRegistrationSuccessServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<display-name>EmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAllEmployeeForUpdate</servlet-name>
  	<display-name>ListAllEmployeeForUpdate</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ListAllEmployeeForUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmployeeServlet</servlet-name>
  	<display-name>UpdateEmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayRequestDetails</servlet-name>
  	<display-name>DisplayRequestDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisplayRequestDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDetails</servlet-name>
  	<display-name>ReimbursementDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ReimbursementDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayRequest</servlet-name>
  	<display-name>DisplayRequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisplayRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerController</servlet-name>
  	<display-name>ManagerController</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayEmployeeServlet</servlet-name>
  	<display-name>DisplayEmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisplayEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayAllReimbursement</servlet-name>
  	<display-name>DisplayAllReimbursement</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisplayAllReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerLoginServlet</servlet-name>
  	<display-name>ManagerLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerApproval</servlet-name>
  	<display-name>ManagerApproval</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ManagerApproval</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllReimStatus</servlet-name>
  	<display-name>AllReimStatus</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.AllReimStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisReimtoemp</servlet-name>
  	<display-name>DisReimtoemp</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DisReimtoemp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAccepted</servlet-name>
  	<display-name>ViewAccepted</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewAccepted</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewRejected</servlet-name>
  	<display-name>ViewRejected</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ViewRejected</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DispurEmptoManager</servlet-name>
  	<display-name>DispurEmptoManager</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.DispurEmptoManager</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>DisplayEmployees</servlet-name>
  	<url-pattern>/DisplayEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationSuccessServlet</servlet-name>
  	<url-pattern>/EmployeeRegistrationSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllEmployeeForUpdate</servlet-name>
  	<url-pattern>/ListAllEmployeeForUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployeeServlet</servlet-name>
  	<url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayRequestDetails</servlet-name>
  	<url-pattern>/DisplayRequestDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDetails</servlet-name>
  	<url-pattern>/ReimbursementDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayRequest</servlet-name>
  	<url-pattern>/DisplayRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerController</servlet-name>
  	<url-pattern>/ManagerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayEmployeeServlet</servlet-name>
  	<url-pattern>/DisplayEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayAllReimbursement</servlet-name>
  	<url-pattern>/DisplayAllReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerLoginServlet</servlet-name>
  	<url-pattern>/ManagerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerApproval</servlet-name>
  	<url-pattern>/ManagerApproval</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllReimStatus</servlet-name>
  	<url-pattern>/AllReimStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisReimtoemp</servlet-name>
  	<url-pattern>/DisReimtoemp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ViewAccepted</servlet-name>
  	<url-pattern>/ViewAccepted</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewRejected</servlet-name>
  	<url-pattern>/ViewRejected</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DispurEmptoManager</servlet-name>
  	<url-pattern>/DispurEmptoManager</url-pattern>
  </servlet-mapping>
</web-app>
